body {
	background-color: #0E0E0E!important;
}
.bg-darker {
	background-color: #000000!important;
}
.btn-warning {
	background: #FA9B03!important;
	border:none!important;

}

.text-img {
	font-size:18px;
	margin-top:-10em;
	background-color: #0E0E0E;
/*	border: 2px solid white;*/
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #FA9B03;
  border-radius: 50%;
  display: inline-block;
}

.nav-pills > .nav-item > .active {

	background-color: #FA9B03!important;
	color:white!important;

}
.nav-link {
	color: white;
	font-weight: 500;

	font-size:18px;
}
.text-aboutme {
	font-size:18px;
}

.review {
	margin-top: 4em;
}

.aboutMe {
	 background-color: rgba(24,24,24,0.68);
}
.reviewnum {
 background: #FA9B03;
padding: 15px;
 vertical-align: middle;

}
.slider {
  height: 8px;
  width: 20px;
  background-color: #bbb;
  border-radius: 14%;
  display: inline-block;
}

.contactMe {
	background-color: rgba(24,24,24,0.68);
}

.forma > input, textarea {
	background-color: rgba(24,24,24,0.68);
	border:0.021em solid white;
	width:100%;
}

.forma > input {
	margin-bottom: 2em;
	height:4rem;
	padding: 30px;
}

.forma >  textarea {
 
 height:9.5rem;
 padding-left: 30px;
 padding-top: 30px;	
 }

 .otherCont {
 	font-size:19px;
 }


 .contact > div > i {
 	color: white; 
 	font-size: 20px; 
 	border-radius: 100px; 
 	width:40px; 
 	height: 40px; 
 	border:2px solid #FA9B03;
 }

  .contact > div  > span {
  	color:white;
  	margin-left: 0.4rem;
  	font-size:18px;
  }

  

  .contact > div  > div {
  	color:#FA9B03;
  	margin-left: 3em;
  		font-size:16px;

  }

  .amk {
  height: 25px;
  width: 25px;
 color: white;
  border-radius: 50%;
  display: inline-block;
  font-size:23px;
}
.footer {
	background-color: #181818;
	height: 30px;
	color:white;
	text-align:center!important;

}