body {
	background-color: #0E0E0E!important;
}
.btn-warning {
	background: #FA9B03!important;
	border:none!important;

}

.text-img {
	font-size:23px;
	margin-top:-10em;
	background-color: #0E0E0E;
/*	border: 2px solid white;*/
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #FA9B03;
  border-radius: 50%;
  display: inline-block;
}

.nav-pills > .nav-item > .active {

	background-color: #FA9B03!important;
	color:white!important;

}
.nav-link {
	color: white;
	font-weight: 500;

	font-size:16px;
}